.buddha-container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
}

/* Sidebar Button */
.sidebar-button-wrapper {
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 9;
}


.sidebar-button {
          min-width: 40px;
          min-height: 40px;
          width: 40px;
          height: 40px;
          color: rgb(48, 48, 48);
          background-color: rgb(221, 0, 0);
          border-radius: 50%;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
}

.sidebar-button.open {
          left: calc(45% - 50px);
}

@media (max-width: 600px) {

          .App-logo {
                    height: 25vmin;
          }

          .App-header {
                    padding: 20px;
          }

          .buddha-container {
                    width: 80%;
          }

          .sidebar-button-wrapper {
                    top: 10px;
                    left: 10px;
          }

          .sidebar-button {
                    min-width: 30px;
                    min-height: 30px;
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
          }

          .sidebar-button.open {
                    left: 15px;
          }

          .buddha-container.open {
                    left: calc(50% - 20px);
          }
}

.Next_contianer {
          float: right;
          position: absolute;
          display: flex;
          justify-content: flex-end;
          padding: 20px;
          right: 20px;
          animation: move 2s infinite alternate;
          transition: right 0.5s ease;
}


@keyframes move {
          from {
                    right: 20px;
          }
          to {
                    right: 40px;
          }
}
