/* Original styles */

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buddha-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Sidebar Button */
.sidebar-button-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.sidebar-button {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  color: rgb(48, 48, 48);
  background-color: rgb(221, 0, 0);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-button.open {
  left: calc(39% - 50px);
  /* Adjust the left position when the sidebar is open */
}

/* Mobile-responsive styles */

@media (max-width: 600px) {

  /* Reduce the height of the App-logo for smaller screens */
  .App-logo {
    height: 25vmin;
  }

  .App-header {
    padding: 20px;
  }

  .buddha-container {
    width: 80%;
  }

  .sidebar-button-wrapper {
    top: 10px;
    left: 10px;
  }

  .sidebar-button {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .sidebar-button.open {
    left: 15px;
  }

  .buddha-container.open {
    left: calc(50% - 20px);
  }
}